
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<form action="/product/add/" method="post">

    Name:<input type="text" name="name" /><br />

    Description: <input type="text" name="description" /><br />

    Price:<input type="text" name="price" /><br />

    Inventory:<input type="text" name="inventory" /><br />

    Category:<input type="text" name="category" /><br />


    <input type="submit" />

</form>

